/* Global Styling */

:root {
    --main-color: #517df5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    flex-grow: 0;
    font-family: Inter, sans-serif;
    letter-spacing: normal;
    font-weight: normal;
}

section{
    display: flex;
    flex-direction: column;
    padding: 20px 17%;
}

@media (max-width: 1480px) {
    section {
        padding: 20px 4%;
    }
}

a {
    text-decoration: none;
}

.bold{
    font-weight: bold;
}

.black{
    color: #1d1d1f;
}

/* Navbar Design */

header {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    padding: 0 17%;
}

nav {
    display: flex;
    gap: 1rem;
}

nav .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 15px 1rem;
    margin-top: 7px;
}

.nav-links .nav-text {
    font-size: 15px;
    color: #1d1d1d;
    transition: all 350ms ease;
}

.nav-links .nav-text:hover {
    color: #007aff;
}

.btn {
    position: relative;
    margin: auto;
    padding: 15px 1rem;
    transition: all 0.2s ease;
    background-color: var(--main-color);
    border-radius: 50px;
    color: #fff;
}

.btn::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 4px;
    display: block;
    border-radius: 28px;
    background: #fff;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;

}

.btn-text {
    position: relative;
    padding: 10px 36px 10px 10px;
    vertical-align: middle;
}

.btn svg {
    position: absolute;
    top: 17px;
    right: 14px;
    font-size: 16px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transition: all 0.3s ease;
}

.btn:hover::before {
    width: 95%;
    background: #fff;
}

.btn:hover {
    color: #000;
}

.btn:active {
    transform: scale(0.96);
}


#check {
    display: none;
}

.nav-icon {
    display: none;
    font-size: 1.5rem;
    border: 1px solid hsla(0, 0%, 53.3%, 0.15);
    padding: 17px;
    transition-delay: .1s;
}

@media (max-width: 1480px) {

    header {
        padding: .6rem 4%;
    }
}

@media (max-width: 980px) {

    header {
        margin-bottom: 0;
        z-index: -1;
    }

    #check:checked~.nav-icon #menu-icon {
        display: none;
    }

    #check:checked~.nav-icon #close-icon {
        display: block;
    }

    #check:checked~.nav-icon {
        background: var(--main-color);
        color: #fff;
    }

    .nav-icon {
        display: inline-flex;
    }

    #close-icon {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        position: absolute;
        top: 86px;
        left: 0;
        padding: 0;
        overflow: hidden;
        transition: .2s ease;
        background: #fff;
    }

    #check:checked~nav {
        height: 22.5rem;
        padding: 16px 50% 20px 15px;
    }

    
    .nav-links .nav-text {
        display: none;
        margin-left: 0;
    }
    
    #check:checked~nav .nav-links .nav-text{
        display: block;
    }

    .nav-btn {
        margin: 0 0 0 8px;
    }

    .nav-btn-text {
        margin: 0 auto;
    }
}

@media (max-width: 460px) {
    #check:checked~nav {
        padding: 1rem 35% 1.25rem 1px;
    }
}

/* Hero Section */

.hero-bg-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(Images/Background\ \(1\).png) no-repeat center center/cover;
    padding-top: 79.1px;
    padding-bottom: 80px;
    border-radius: 26px;
}

.hero-content-wrapper {
   max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-lpa-text {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 92.2px;
    font-weight: bold;
    line-height: 1.05;
    color: #fff;
    padding-top: 20px;
}

.hero-content-wrapper p{
    font-size: 20px;
    padding-top: 20px;
    line-height: 1.6;
    color: #fff;
}

.hero-btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.hero-left-btn{
    background: #0e1936;
}

.hero-right-btn{
    background: transparent;
}

@media (max-width: 680px){
    .hero-content-wrapper{
        width: 62%;
    }

    .hero-title{
        font-size: 48px;
    }

    .hero-lpa-text{
        font-size: 17px;
    }

    .hero-content-wrapper p{
        font-size: 17px;
    }

    .hero-btn-wrapper{
        flex-direction: column;
    }
}

@media (max-width: 390px){
    .hero-content-wrapper{
        width: 74%;
    }

    .hero-title{
        font-size: 36px;
    }

    .hero-lpa-text{
        font-size: 16px;
    }

    .hero-content-wrapper p{
        font-size: 16px;
    }

    .hero-left-btn-text, .hero-right-btn-text{
        font-size: 14px;
    }
}

/* Features Section */

.feature-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10.4%;
    padding: 20px 0;
}

.feature-text-wrapper{
    max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15.1px;
  padding: 52.3px 0 60px;
}

.feature-title{
  align-self: stretch;
  font-size: 76.8px;
  font-weight: bold;
  line-height: 1.1;
  letter-spacing: -2.88px;
  color: #1d1d1f;
}

.feature-description{
  align-self: stretch;
  font-size: 18px;
  line-height: 1.6;
  color: #777;
    padding-bottom: .9px;
}

.feature-feautures-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    padding: .8px 13px 14.9px 0;
}

.feature-feautures-text{
    width: 425px;
    font-size: 16px;
    line-height: 1.6;
    color: #777;
}

.feature-img-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  align-self: stretch;
  border-radius: 26px;
  background: var(--main-color);
}

.feature-img-wrapper img{
    background: no-repeat center center/cover;
}

.feature-built-wrapper{
    flex-direction: row-reverse;
}

@media (max-width: 1656px){
    .feature-wrapper{
        gap: 3%;
    }
}

@media (max-width: 1160px){
    .feature-wrapper{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 530px){
    .feature-text-wrapper {
        max-width: 317px;
        padding: 0 0 30px;
    }

    .feature-title{
        width: 242px;
        font-size: 30px;
        letter-spacing: -1px;
    }

    .feature-description{
        font-size: 16px;
    }

    .feature-img-wrapper img{
        width: 70%;
    }
}

@media (max-width: 321px){
    .feature-text-wrapper{
        max-width: 274px;
    }
}

/* Profile Section */

.profile-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 60px;
    border-radius: 26px;
    background: var(--main-color);
}

.profile-content-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 160px;
}

.profile-text-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile-text-wrapper .profile-logo-wrapper{
    display: flex;
    justify-content: center;
}

.profile-text-wrapper .profile-logo{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 0 40px;
}

.profile-description{
    max-width: 488px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: #fff;
}

.profile-frame{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 105px 27.2px;
}

.profile-image{
    padding-bottom: 20px;
}

.profile-name-frame{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 5px;
}

.profile-name{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
    color: #fff;
}

.profile-post{
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

@media (max-width: 1820px){

    .profile-frame{
        padding-right: 74px;
    }
}

@media (max-width: 1630px){
    .profile-content-wrapper{
        gap: 20px;
    }
}

@media (max-width: 1480px){
    .profile-content-wrapper{
        gap: 210px;
    }
}

@media (max-width: 1250px){
    .profile-frame{
        padding-right: 27px;
    }
}

@media (max-width: 1160px){
    .profile-background{
        padding: 34px 20px 35px 20px;
    }

    .profile-content-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 45px;
    }
    
    .profile-text-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .profile-text-wrapper .profile-logo{
        padding: 40px 0 0 0;
    }

    .profile-frame{
        padding: 0;
    }
}

@media (max-width: 640px){
    .profile-description{
        max-width: 253px;
        font-size: 16px;
    }

    .profile-text-wrapper .profile-logo{
        width: 74%;
        padding-top: 20px;
    }

    .profile-image{
        width: 155px;
    }

    .profile-name{
        font-size: 17px;
    }

    .profile-post{
        font-size: 13px;
    }
}

/* Plan Section */

.plan-title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #1d1d1f;
    gap: 0.2px;
}

.plan-get-started-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.plan-title{
    font-size: 76.8px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -2.88px;
    color: #1d1d1f;
    padding: 12.3px 0 56px;
}

.plan-container{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.plan-bg{
  width: 49%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  padding: 70px 60px 60px 60px;
  border-radius: 26px;
  box-shadow: 0 6px 50px 0 rgba(14, 25, 54, 0.06);
  background-color: #fff;
}

.plan-cart-title{
  font-size: 14px;
  text-transform: uppercase;
  line-height: 2.29;
  letter-spacing: 1px;
  color: #1d1d1f;
}

.plan-price-wrapper{
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 3px;
}

.plan-price{
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    color: var(--main-color);
}

.plan-duration{
    font-size: 16px;
    line-height: 1.6;
    color: var(--main-color);
}

.plan-feature-container{
  height: 290px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5px;
  padding: 15px 0 0;
}

.plan-features-wrapper{
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0
}

.plan-features-icon{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px 0 0;
}

.plan-features{
  font-size: 15px;
  line-height: 1.33;
  color: #777;
}

.plan-btn{
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 27px 0;
  border-radius: 100px;
  border: solid 1px var(--main-color);
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.plan-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    transition: ease .3s;
}

.plan-btn:hover::before{
    width: 100%;
    background: var(--main-color);
}

.plan-btn-text{
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: var(--main-color);
  z-index: 1;
  transition: ease .4s;
}

.plan-btn:hover .plan-btn-text{
    color: #fff;
}

.plan-premium-bg{
    background: var(--main-color);
}

.plan-premium-cart-title, .plan-premium-price, .plan-premium-duration, .plan-premium-features, .plan-btn-premium-text{
    color: #fff;
}

.plan-premium-btn{
    border-color: #fff;
}

.plan-premium-btn::before, .plan-premium-btn:hover::before{
    background: #fff;
}

.plan-premium-btn:hover .plan-btn-text{
    color: var(--main-color);
}

@media (max-width: 1160px){
    .plan-container{
        flex-direction: column;
        align-items: center;
    }

    .plan-bg{
        width: 100%;
    }
}

@media (max-width: 530px){
    .plan-bg{
        padding: 50px 40px 40px 40px;
    }

    .plan-get-started-text{
        font-size: 17px;
    }

    .plan-title{
        font-size: 30px;
        letter-spacing: -1px;
    }

    .plan-btn{
        padding: 20px 0;
    }
}

@media (max-width: 340px){
    .plan-get-started-text{
        font-size: 16px;
    }

    .plan-title{
        font-size: 26px;
    }
}

/* Community Section */

.community-section{
    display: flex;
    flex-direction: column;
}

.community-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 34px 0 0 0;
}

.community-title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 40px;
}

.community-join-text{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  text-align: center;
  color: #1d1d1f;
}

.community-title{
    width: 686px;
  font-size: 76.8px;
  line-height: 1.1;
  letter-spacing: -2.88px;
  color: #1d1d1f;
}

.community-image{
    width: 100%;
    background: no-repeat center center/cover;
}

.community-btn-wrapper{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.community-btn{
  width: 100%;
  padding: 28px 36px;
  border-radius: 60px;
  background-color: var(--main-color);
}