/* Global Styling */

:root {
    --main-color: #517df5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    flex-grow: 0;
    font-family: Inter, sans-serif;
    letter-spacing: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

/* Navbar Design */

header {
    display: flex;
    justify-content: space-between;
    margin: .5rem 0;
    padding: 0 20rem;
}

nav {
    display: flex;
    gap: 1rem;
}

nav .nav-links {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 15px 1rem;
    margin-top: 7px;
}

.nav-links .nav-text {
    font-size: 15px;
    color: #1d1d1d;
    transition: all 350ms ease;
}

.nav-links .nav-text:hover {
    color: #007aff;
}

.btn {
    position: relative;
    margin: auto;
    padding: 15px 1rem;
    transition: all 0.2s ease;
    background-color: var(--main-color);
    border-radius: 50px;
    color: #fff;
}

.btn::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 4px;
    display: block;
    border-radius: 28px;
    background: #fff;
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;

}

.btn-text {
    position: relative;
    padding: 10px;
    vertical-align: middle;
}

.btn svg {
    position: relative;
    top: 2px;
    margin-left: 10px;
    font-size: 16px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transition: all 0.3s ease;
}

.btn:hover::before {
    width: 95%;
    background: #fff;
}

.btn:hover {
    color: #000;
}

.btn:active {
    transform: scale(0.96);
}


#check {
    display: none;
}

.nav-icon {
    display: none;
    font-size: 1.5rem;
    border: 1px solid hsla(0, 0%, 53.3%, 0.15);
    padding: 17px;
    transition-delay: .1s;
}

@media (max-width: 1480px) {

    header {
        padding: .6rem 4%;
    }
}

@media (max-width: 980px) {

    header {
        margin-bottom: 0;
        z-index: -1;
    }

    #check:checked~.nav-icon #menu-icon {
        display: none;
    }

    #check:checked~.nav-icon #close-icon {
        display: block;
    }

    #check:checked~.nav-icon {
        background: var(--main-color);
        color: #fff;
    }

    .nav-icon {
        display: inline-flex;
    }

    #close-icon {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        position: absolute;
        top: 86px;
        left: 0;
        padding: 0;
        overflow: hidden;
        transition: .2s ease;
        transition-delay: .1s;
        background: #fff;
    }

    #check:checked~nav {
        height: 22.5rem;
        padding: 16px 50% 20px 15px;
    }

    .nav-links .nav-text {
        display: block;
        margin-left: 0;
    }

    .nav-btn {
        width: 147px;
        margin: 0 0 0 8px;
    }

    .nav-btn-text {
        margin: 0 auto;
    }
}

@media (max-width: 460px) {
    #check:checked~nav {
        padding: 1rem 35% 1.25rem 1px;
    }
}

/* Hero Section */

.hero-section {
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
}

.hero-bg-img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(Images/Background\ \(1\).png) no-repeat center center/cover;
    padding-top: 79.1px;
    padding-bottom: 80px;
    border-radius: 26px;
}

.hero-content-wrapper {
   max-width: 480px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-lpa-text {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

.hero-title {
    font-size: 92.2px;
    font-weight: bold;
    line-height: 1.05;
    color: #fff;
    padding-top: 20px;
}

.hero-content-wrapper p{
    font-size: 20px;
    padding-top: 20px;
    line-height: 1.6;
    color: #fff;
}

.hero-btn-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.hero-left-btn{
    background: #0e1936;
}

.hero-right-btn{
    background: transparent;
}

@media (max-width: 1480px) {
    .hero-section {
        padding: 0 4%;
    }
}

@media (max-width: 680px){
    .hero-content-wrapper{
        width: 62%;
    }

    .hero-title{
        font-size: 48px;
    }

    .hero-lpa-text{
        font-size: 17px;
    }

    .hero-content-wrapper p{
        font-size: 17px;
    }

    .hero-btn-wrapper{
        flex-direction: column;
    }
}

@media (max-width: 390px){
    .hero-content-wrapper{
        width: 74%;
    }

    .hero-title{
        font-size: 36px;
    }

    .hero-lpa-text{
        font-size: 16px;
    }

    .hero-content-wrapper p{
        font-size: 16px;
    }

    .hero-left-btn-text, .hero-right-btn-text{
        font-size: 14px;
    }
}